<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hubert.springboot.mysql57.mybatis.xml.dao.RoleDao">

    <resultMap type="org.hubert.springboot.mysql57.mybatis.xml.entity.Role" id="RoleResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="roleKey" column="role_key"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectRoleSql">
        SELECT r.id, r.name, r.role_key, r.description, r.create_time, r.update_time
        FROM tb_role r
    </sql>

    <select id="findList" parameterType="org.hubert.springboot.mysql57.mybatis.xml.entity.query.RoleQueryBean"
            resultMap="RoleResult">
        <include refid="selectRoleSql"/>
        WHERE r.id != 0
        <if test="name != null and name != ''">
            AND r.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="roleKey != null and roleKey != ''">
            AND r.role_key = #{roleKey}
        </if>
        <if test="description != null and description != ''">
            AND r.description LIKE CONCAT('%', #{description}, '%')
        </if>
    </select>
</mapper>
